<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ec5538d6-66ea-475f-875c-9e81ba5ff80f" Alias="LanguagePicker.ScreenReaderText" Level="1">
  <Info>
    <Parent>Layout</Parent>
  </Info>
  <Translations>
    <Translation Language="sv">Välj ett språk</Translation>
  </Translations>
</Dictionary>