<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4919a393-973c-452a-9e85-caee4003a0f7" Alias="NewsLetter.SubmitErrorText" Level="1">
  <Info>
    <Parent>NewsLetter</Parent>
  </Info>
  <Translations>
    <Translation Language="sv">Något gick fel. Vänligen testa igen.</Translation>
  </Translations>
</Dictionary>