<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f63757a8-4cbc-4650-8100-90ff06aa1df6" Alias="NewsLetter.SubmitSuccessText" Level="1">
  <Info>
    <Parent>NewsLetter</Parent>
  </Info>
  <Translations>
    <Translation Language="sv">Tack för att du prenumererar</Translation>
  </Translations>
</Dictionary>