<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1f7163d2-972a-4eab-92b1-8671245fd4f4" Alias="News.PlaceholderText" Level="1">
  <Info>
    <Parent>News</Parent>
  </Info>
  <Translations>
    <Translation Language="sv">Denna nyhet är ännu inte publicerad.</Translation>
  </Translations>
</Dictionary>