<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d09e3ac9-7841-4665-b7c1-947cd422e2db" Alias="NewsLetter.ConsentText" Level="1">
  <Info>
    <Parent>NewsLetter</Parent>
  </Info>
  <Translations>
    <Translation Language="sv">Jag godkänner att Boilerplate hanterar mina personuppgifter</Translation>
  </Translations>
</Dictionary>