<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0225af17-b302-49cb-9176-b9f35cab9c17" Alias="Approved Color" Level="1">
  <Info>
    <Name>Approved Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "UseLabel": false,
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"eff0f3\",\"label\":\"eff0f3\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"23374a\",\"label\":\"a2c4c9\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"f1eee8\",\"label\":\"ea9999\"}"
    }
  ]
}]]></Config>
</DataType>