<?xml version="1.0" encoding="utf-8"?>
<DataType Key="55c07eb0-1a08-4e57-a902-662f027566be" Alias="Block List" Level="1">
  <Info>
    <Name>Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "5f963776-7063-44ed-8714-08814ff35081",
      "settingsElementTypeKey": "2f7eb90a-b46c-43c8-9f3d-f093bb1e4bcb",
      "view": null,
      "stylesheet": null,
      "label": "Text - {{!!blockName ? blockName : (rte | ncRichText | limitTo:80).trim() + '…'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "411d2bf5-7b3c-4a80-9f33-632d82d70862",
      "settingsElementTypeKey": "3301cfb9-2460-4cdc-819e-a9aff119f0b9",
      "view": null,
      "stylesheet": null,
      "label": "Image - {{blockName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "d731029d-f34f-4691-8334-3635acd6d378",
      "settingsElementTypeKey": "380883cd-4acb-48bd-9bd8-38027f8bb89c",
      "view": "~/App_Plugins/Blocks/TwoColBlock/TwoColBlock.html",
      "stylesheet": null,
      "label": "Two Col - {{blockName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "baf3c44e-2393-4087-a906-cf044a0ae264",
      "settingsElementTypeKey": "2f7eb90a-b46c-43c8-9f3d-f093bb1e4bcb",
      "view": null,
      "stylesheet": null,
      "label": "Youtube - {{blockName || youtubeUrl}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "a091b543-5fe2-45f6-a1f4-d6566a670261",
      "settingsElementTypeKey": "46e87c0e-2b0c-4f77-be66-1f204642c2d0",
      "view": null,
      "stylesheet": null,
      "label": "Quote - {{blockName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "8259e508-76c8-48af-88a5-5e0b43c94b02",
      "settingsElementTypeKey": "cb60b471-89d7-4b23-b4fd-0e59cf56129c",
      "view": null,
      "stylesheet": null,
      "label": "News - {{blockName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "66fdbe0a-bb84-4b52-8623-66036b4adbd8",
      "settingsElementTypeKey": "cb60b471-89d7-4b23-b4fd-0e59cf56129c",
      "view": null,
      "stylesheet": null,
      "label": "Link Picker - {{blockName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "fdfff532-1d7e-4680-8373-52bf61673c45",
      "settingsElementTypeKey": "cb60b471-89d7-4b23-b4fd-0e59cf56129c",
      "view": null,
      "stylesheet": null,
      "label": "Latest News - {{blockName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "3682c9c1-b81a-4390-a204-4620460b4e0a",
      "settingsElementTypeKey": "aefd60a2-3470-4646-8460-082599e097c1",
      "view": null,
      "stylesheet": null,
      "label": "News Letter - {{blockName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "76b34c65-1803-4888-b12e-038ea40b8694",
      "settingsElementTypeKey": "cb60b471-89d7-4b23-b4fd-0e59cf56129c",
      "view": null,
      "stylesheet": null,
      "label": "Text and Image - {{blockName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "becc62ff-99a9-45bc-b9a7-5d2cd1422a8a",
      "settingsElementTypeKey": "cb60b471-89d7-4b23-b4fd-0e59cf56129c",
      "view": null,
      "stylesheet": null,
      "label": "Image Links - {{blockName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "b0eeef59-413c-4415-a92e-072bff99178d",
      "settingsElementTypeKey": "cb60b471-89d7-4b23-b4fd-0e59cf56129c",
      "view": null,
      "stylesheet": null,
      "label": "Selected Pages - {{blockName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "e90a1400-ac75-4461-b682-00a5a56182d7",
      "settingsElementTypeKey": "2f7eb90a-b46c-43c8-9f3d-f093bb1e4bcb",
      "view": null,
      "stylesheet": null,
      "label": "Features - {{blockName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>