<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4af0e5fd-ee62-4dc3-ac6f-cf0b4f956991" Alias="Block List - Features" Level="1">
  <Info>
    <Name>Block List - Features</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "115232ed-7f02-4e10-8c0a-808ef3a63c36",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Feature - {{blockName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>