<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bc83986d-7333-4499-90a5-14a77beac8b2" Alias="Block List - Image Links" Level="1">
  <Info>
    <Name>Block List - Image Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "0f62a234-4445-4832-aaef-07fe694df489",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Image Link - {{blockName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>