<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dfc9ee83-c74c-43ba-9238-df6e6452921b" Alias="Block List - Footer" Level="1">
  <Info>
    <Name>Block List - Footer</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "f6af14db-8948-4d7b-b18a-abc8c41c3647",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{blockName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "eb2b513a-88d4-4b73-a272-6dd2d8ad201f",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{blockName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": 3
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>