<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aa2c3868-6ca8-4ed2-a558-5c872e3fdf7c" Alias="Camelonta - Nested Content - Icon Links" Level="1">
  <Info>
    <Name>Camelonta - Nested Content - Icon Links</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "iconLink",
      "ncTabAlias": "Content",
      "nameTemplate": "{{link[0].name}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 2,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>