<?xml version="1.0" encoding="utf-8"?>
<DataType Key="96e92274-76de-4691-9ae9-0943f0c983c1" Alias="Camelonta - Single Url Picker" Level="1">
  <Info>
    <Name>Camelonta - Single Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "OverlaySize": "small",
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>