<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6184ae16-a094-41f6-b4a9-8b977527278a" Alias="Camelonta - Nested Content - Top Links" Level="1">
  <Info>
    <Name>Camelonta - Nested Content - Top Links</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "topLink",
      "ncTabAlias": "Content",
      "nameTemplate": "{{link[0].name}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 7,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>