<?xml version="1.0" encoding="utf-8"?>
<DataType Key="be52c693-5a39-4236-9bf2-214448de2473" Alias="Camelonta - Block - Dropdown Padding" Level="1">
  <Info>
    <Name>Camelonta - Block - Dropdown Padding</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Extra large"
    },
    {
      "id": 2,
      "value": "Large"
    },
    {
      "id": 3,
      "value": "Medium"
    },
    {
      "id": 4,
      "value": "Small"
    },
    {
      "id": 5,
      "value": "Extra small"
    },
    {
      "id": 6,
      "value": "None"
    }
  ]
}]]></Config>
</DataType>