<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2141f51-a140-4329-bde7-173d721f42f7" Alias="Camelonta - Rich Text Editor" Level="1">
  <Info>
    <Name>Camelonta - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "removeformat",
      "undo",
      "redo",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "link",
      "unlink",
      "umbmediapicker",
      "umbmacro",
      "table",
      "umbembeddialog"
    ],
    "stylesheets": [
      "/css/typo.css"
    ],
    "maxImageSize": 1100,
    "mode": "classic",
    "dimensions": {
      "height": 350
    }
  },
  "OverlaySize": "small",
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>