<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0146e50a-52ed-4da3-a00c-c9886cf1d2c3" Alias="Camelonta - Rich Text Editor - Stripped" Level="1">
  <Info>
    <Name>Camelonta - Rich Text Editor - Stripped</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "undo",
      "redo",
      "styleselect",
      "bold",
      "italic",
      "underline",
      "link",
      "unlink"
    ],
    "stylesheets": [
      "/css/typo.css"
    ],
    "maxImageSize": 0,
    "mode": "classic",
    "dimensions": {
      "height": 350
    }
  },
  "OverlaySize": "small",
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>