<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d433c460-f7bf-480b-aa2b-5b6a10c53102" Alias="Camelonta - Single Newslist Picker" Level="1">
  <Info>
    <Name>Camelonta - Single Newslist Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "newsList",
  "MinNumber": 1,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>