<?xml version="1.0" encoding="utf-8"?>
<DataType Key="be06b4ca-803c-4ed3-8e21-276356bf402f" Alias="Camelonta - Icon Dropdown" Level="1">
  <Info>
    <Name>Camelonta - Icon Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Cart"
    },
    {
      "id": 2,
      "value": "Settings"
    },
    {
      "id": 3,
      "value": "Tools"
    },
    {
      "id": 4,
      "value": "Camera"
    },
    {
      "id": 5,
      "value": "Sound System"
    },
    {
      "id": 6,
      "value": "Light"
    },
    {
      "id": 7,
      "value": "Studio"
    },
    {
      "id": 8,
      "value": "Toolbox"
    },
    {
      "id": 9,
      "value": "Compass"
    },
    {
      "id": 10,
      "value": "Pokéball"
    },
    {
      "id": 11,
      "value": "Glasses"
    },
    {
      "id": 12,
      "value": "Document"
    }
  ]
}]]></Config>
</DataType>