<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ed269ada-8a74-4521-bc82-98bad1f81fc9" Alias="Camelonta - Text Color Picker" Level="1">
  <Info>
    <Name>Camelonta - Text Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "UseLabel": false,
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"d9a158\",\"label\":\"000000\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"ffffff\",\"label\":\"ffffff\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"23374a\",\"label\":\"23374a\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"ff847b\",\"label\":\"ff847b\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"71150f\",\"label\":\"71150f\"}"
    },
    {
      "id": 6,
      "value": "{\"value\":\"666e75\",\"label\":\"666e75\"}"
    }
  ]
}]]></Config>
</DataType>