<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0de0edf1-2c79-4256-87aa-99bc5e3765e6" Alias="Camelonta - Block - Dropdown Width" Level="1">
  <Info>
    <Name>Camelonta - Block - Dropdown Width</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Extra small"
    },
    {
      "id": 2,
      "value": "Small"
    },
    {
      "id": 3,
      "value": "Standard"
    },
    {
      "id": 4,
      "value": "Big"
    },
    {
      "id": 5,
      "value": "Full size"
    }
  ]
}]]></Config>
</DataType>