<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a2539bc7-8f48-4f2b-ad9d-c719967df226" Alias="Camelonta - Nested Content - Main Navigation" Level="1">
  <Info>
    <Name>Camelonta - Nested Content - Main Navigation</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "navigation",
      "ncTabAlias": "Content",
      "nameTemplate": "{{navigationLink[0].Name}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 6,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>