<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3d0529bb-17a9-4e5c-9d34-60fab4029fce" Alias="Camelonta - Block - Left Column" Level="1">
  <Info>
    <Name>Camelonta - Block - Left Column</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "411d2bf5-7b3c-4a80-9f33-632d82d70862",
      "settingsElementTypeKey": "63d2f492-5595-46e5-927a-c057f996a5ac",
      "view": null,
      "stylesheet": null,
      "label": "Image - {{blockName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "5f963776-7063-44ed-8714-08814ff35081",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{!!blockName ? blockName : (rte | ncRichText | limitTo:80).trim() + '…'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "3682c9c1-b81a-4390-a204-4620460b4e0a",
      "settingsElementTypeKey": "8bf7c6cf-0c69-4793-88d1-2fcc6de829b8",
      "view": null,
      "stylesheet": null,
      "label": "News Letter - {{blockName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "c1e852d9-3367-40e9-bbb7-09d9e424b22e",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Social Media - {{blockName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": 0,
    "max": 20
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>