<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cf05cf92-bdbc-440f-af7e-5330f7478ae0" Alias="Camelonta - Single Node Tree Picker" Level="1">
  <Info>
    <Name>Camelonta - Single Node Tree Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>