<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e638fa90-0c6e-4acc-978d-4fc373e84341" Alias="Camelonta - Footer Link List Picker" Level="1">
  <Info>
    <Name>Camelonta - Footer Link List Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 6,
  "OverlaySize": "small",
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>