<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9393eaf-6c9e-4cd4-83a8-9129bdfb3084" Alias="Case Category Tags" Level="1">
  <Info>
    <Name>Case Category Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "caseTags",
  "StorageType": 1,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>