<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3d2ee84c-f726-4787-9593-eefaf1c3d45d" Alias="Case Details - Theme - Radio button list" Level="1">
  <Info>
    <Name>Case Details - Theme - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 2,
      "value": "Primary"
    },
    {
      "id": 1,
      "value": "Secondary"
    }
  ]
}]]></Config>
</DataType>