<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0a93876b-b875-4841-9118-fa5ecd416210" Alias="Selected Pages - 3 Items - Multinode Treepicker" Level="1">
  <Info>
    <Name>Selected Pages - 3 Items - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 3,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>