<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd6cffe4-a112-4e77-8526-5fc13ffcdea8" Alias="Two Col Block - Column Settings Slider" Level="1">
  <Info>
    <Name>Two Col Block - Column Settings Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 6.0,
  "InitialValue2": 6.0,
  "MinimumValue": 1.0,
  "MaximumValue": 12.0,
  "StepIncrements": 0.0
}]]></Config>
</DataType>