<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9e8e2434-8bce-41f7-9f12-3343fa6bb71d" Alias="article" Level="2">
  <Info>
    <Name>Article</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>1.+Organisms</Folder>
    <Compositions>
      <Composition Key="aa8f896e-b9f7-4004-8be0-061be4d9e16a">blockContent</Composition>
      <Composition Key="804f6c7b-c29b-4790-bc32-7609ba4c57f9">hero</Composition>
      <Composition Key="cafcf212-d246-4a8b-b44e-b12d50c856e3">layout</Composition>
    </Compositions>
    <DefaultTemplate>Article</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="16a1b9c8-0dbe-4935-b89c-b1a206910bec">Article</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9e8e2434-8bce-41f7-9f12-3343fa6bb71d" SortOrder="0">article</ContentType>
    <ContentType Key="333bde5f-5d5d-4592-988b-08ac38dc8898" SortOrder="1">externalLink</ContentType>
    <ContentType Key="99cfe283-a53d-4cff-8a31-c7c41602b94c" SortOrder="2">internalLink</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>