<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cb60b471-89d7-4b23-b4fd-0e59cf56129c" Alias="blockSimpleSettings" Level="3">
  <Info>
    <Name>Block - Simple Settings</Name>
    <Icon>icon-settings color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocklist/Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>aa4ac536-3b0e-4449-b8a1-4fb510853f19</Key>
      <Name>Padding Bottom</Name>
      <Alias>blockPaddingBottom</Alias>
      <Definition>be52c693-5a39-4236-9bf2-214448de2473</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bottom padding for the block. Defaults to large.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f26de07f-14bb-4399-9e5e-a1cc668f4c49</Key>
      <Name>Padding Top</Name>
      <Alias>blockPaddingTop</Alias>
      <Definition>be52c693-5a39-4236-9bf2-214448de2473</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Top padding for the block. Defaults to large.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>329e5d6e-b970-4c53-b95e-dfd3db17ed62</Key>
      <Name>Width</Name>
      <Alias>blockWidth</Alias>
      <Definition>0de0edf1-2c79-4256-87aa-99bc5e3765e6</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1531f196-607b-4d0a-8626-7597dcdf11f1</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>