<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a8ca68a0-9e6d-42ad-8a86-22eb3c7aceda" Alias="floatingHeader" Level="2">
  <Info>
    <Name>Floating Header</Name>
    <Icon>icon-resize color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>3.+Molecules</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c241ffaf-b3b5-4b90-876c-bf675d0cd7ce</Key>
      <Name>Floating Header</Name>
      <Alias>useFloatingHeader</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enabling this will cause the preheader and the top navigation to float on top of the page content. Mainly use this together with the boxed hero.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layoutSettings">Layout Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d547f929-930a-43ac-99dc-62a674962dfc</Key>
      <Caption>Layout Settings</Caption>
      <Alias>layoutSettings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>