<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f220f807-90d3-40c5-967c-11abfd52bb82" Alias="heroBoxed" Level="2">
  <Info>
    <Name>Hero Boxed</Name>
    <Icon>icon-resize color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>2.+Polymers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7f889f48-69b2-4d64-975b-f53414454fb2</Key>
      <Name>Image</Name>
      <Alias>heroBoxedImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="boxedHero">Boxed Hero</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cd75e5b2-9da1-4091-a965-ae79d06de524</Key>
      <Name>Link</Name>
      <Alias>heroBoxedLink</Alias>
      <Definition>96e92274-76de-4691-9ae9-0943f0c983c1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="boxedHero">Boxed Hero</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>23cab41c-5ea0-4931-bc73-067772812fa4</Key>
      <Name>Text</Name>
      <Alias>heroBoxedText</Alias>
      <Definition>d2141f51-a140-4329-bde7-173d721f42f7</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="boxedHero">Boxed Hero</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>42456364-a3e5-40df-a9b2-6f75eef6127c</Key>
      <Caption>Boxed Hero</Caption>
      <Alias>boxedHero</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>