<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="63d2f492-5595-46e5-927a-c057f996a5ac" Alias="imageColumnBlockSettings" Level="4">
  <Info>
    <Name>Image - Column Settings</Name>
    <Icon>icon-umb-settings color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This settings is used for images in two column blocks.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocklist/Settings/Nested+Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ec38ba20-7d7f-4ede-a4bc-bc592ea64954</Key>
      <Name>Rounded Corners</Name>
      <Alias>roundedCorners</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Use rounded corners for image.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f14f9540-5a06-4232-aedf-a115efae4e87</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>