<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="becc62ff-99a9-45bc-b9a7-5d2cd1422a8a" Alias="imageLinksBlock" Level="2">
  <Info>
    <Name>Image Links</Name>
    <Icon>icon-multiple-windows color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocklist</Folder>
    <Compositions>
      <Composition Key="1e4fe2ee-cb36-4b4c-a0ff-4c04f366a59e">blockNameDocType</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ba158dec-d1df-4289-8bdc-1e3aea35f8aa</Key>
      <Name>Image Links</Name>
      <Alias>imageLinks</Alias>
      <Definition>bc83986d-7333-4499-90a5-14a77beac8b2</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="imageLinks">Image Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a0ddc0a5-ac6e-4637-bf84-7a63b6dbb9c2</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="imageLinks">Image Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a84a3341-0c2a-423a-b73d-88dc8e29411c</Key>
      <Caption>Image Links</Caption>
      <Alias>imageLinks</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>