<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3301cfb9-2460-4cdc-819e-a9aff119f0b9" Alias="imageBlockSettings" Level="4">
  <Info>
    <Name>Image - Settings</Name>
    <Icon>icon-settings-alt color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This setting is used for images as stand-alone blocks.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocklist/Settings/Standalone+Blocks</Folder>
    <Compositions>
      <Composition Key="2f7eb90a-b46c-43c8-9f3d-f093bb1e4bcb">blockGeneralSettings</Composition>
      <Composition Key="63d2f492-5595-46e5-927a-c057f996a5ac">imageColumnBlockSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>