<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fdfff532-1d7e-4680-8373-52bf61673c45" Alias="latestNewsBlock" Level="2">
  <Info>
    <Name>Latest News</Name>
    <Icon>icon-newspaper color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocklist</Folder>
    <Compositions>
      <Composition Key="1e4fe2ee-cb36-4b4c-a0ff-4c04f366a59e">blockNameDocType</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>60648bb9-5ad4-41ca-a5ab-73a0bc986ccc</Key>
      <Name>News List</Name>
      <Alias>newsList</Alias>
      <Definition>d433c460-f7bf-480b-aa2b-5b6a10c53102</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose the news list from which you want to fetch the latest news item from.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="latestNews">Latest News</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>21125df5-2971-4c57-991a-fb05700158d7</Key>
      <Caption>Latest News</Caption>
      <Alias>latestNews</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>