<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8bf7c6cf-0c69-4793-88d1-2fcc6de829b8" Alias="newsLetterBlockColumnSettings" Level="4">
  <Info>
    <Name>News Letter - Column Settings</Name>
    <Icon>icon-umb-settings color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocklist/Settings/Nested+Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2d4f2daa-9bba-4d68-a131-3809adf81e36</Key>
      <Name>Background Color</Name>
      <Alias>backgroundColor</Alias>
      <Definition>0bd4f05f-8722-4f7b-9923-036f2661e401</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7dca653b-3dec-47d8-867f-bc34015a88da</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>