<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9e2edc37-adfb-4d1b-b4d9-537a0bb5bd60" Alias="news" Level="2">
  <Info>
    <Name>News</Name>
    <Icon>icon-globe-alt color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>1.+Organisms</Folder>
    <Compositions>
      <Composition Key="aa8f896e-b9f7-4004-8be0-061be4d9e16a">blockContent</Composition>
      <Composition Key="804f6c7b-c29b-4790-bc32-7609ba4c57f9">hero</Composition>
      <Composition Key="cafcf212-d246-4a8b-b44e-b12d50c856e3">layout</Composition>
    </Compositions>
    <DefaultTemplate>News</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c00546ed-e703-44d8-a6a9-752a227bc6d7">News</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>08051a05-d9db-4db4-9b79-09dca3f87639</Key>
      <Name>Display Date</Name>
      <Alias>displayDate</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Date used for sorting and display. Created date will be set if left empty.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="newsSettings">News Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>95587b4f-ac95-4a0e-b1d1-413befb8a4bf</Key>
      <Caption>News Settings</Caption>
      <Alias>newsSettings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>