<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3682c9c1-b81a-4390-a204-4620460b4e0a" Alias="newsLetterBlock" Level="2">
  <Info>
    <Name>News Letter</Name>
    <Icon>icon-facebook-like color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocklist</Folder>
    <Compositions>
      <Composition Key="1e4fe2ee-cb36-4b4c-a0ff-4c04f366a59e">blockNameDocType</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8bb59ce7-547d-49de-b753-1f72dffa62cd</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>0146e50a-52ed-4da3-a00c-c9886cf1d2c3</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="newsLetter">News Letter</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7c76680d-030d-4c84-94d2-10e713e8c3e6</Key>
      <Caption>News Letter</Caption>
      <Alias>newsLetter</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>