<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aefd60a2-3470-4646-8460-082599e097c1" Alias="newsLetterBlockSettings" Level="4">
  <Info>
    <Name>News Letter - Settings</Name>
    <Icon>icon-settings-alt color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocklist/Settings/Standalone+Blocks</Folder>
    <Compositions>
      <Composition Key="cb60b471-89d7-4b23-b4fd-0e59cf56129c">blockSimpleSettings</Composition>
      <Composition Key="8bf7c6cf-0c69-4793-88d1-2fcc6de829b8">newsLetterBlockColumnSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>