<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8a89512a-4d1d-4072-86dc-e837885db547" Alias="newsList" Level="2">
  <Info>
    <Name>News List</Name>
    <Icon>icon-globe-alt color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>1.+Organisms</Folder>
    <Compositions>
      <Composition Key="aa8f896e-b9f7-4004-8be0-061be4d9e16a">blockContent</Composition>
      <Composition Key="804f6c7b-c29b-4790-bc32-7609ba4c57f9">hero</Composition>
      <Composition Key="cafcf212-d246-4a8b-b44e-b12d50c856e3">layout</Composition>
    </Compositions>
    <DefaultTemplate>NewsList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="91684910-a652-46e8-8a3f-ffd000c19863">NewsList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9e2edc37-adfb-4d1b-b4d9-537a0bb5bd60" SortOrder="0">news</ContentType>
    <ContentType Key="8a89512a-4d1d-4072-86dc-e837885db547" SortOrder="1">newsList</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>