<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="76b34c65-1803-4888-b12e-038ea40b8694" Alias="overlappingTextAndImageBlock" Level="2">
  <Info>
    <Name>Overlapping Text and Image</Name>
    <Icon>icon-box color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocklist</Folder>
    <Compositions>
      <Composition Key="1e4fe2ee-cb36-4b4c-a0ff-4c04f366a59e">blockNameDocType</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>85db3ad5-56dd-4e67-bde0-5d0a40d3736c</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="textAndImage">Text and Image</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>389da764-83a7-412c-9a4c-dcf9a5910c0c</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>d2141f51-a140-4329-bde7-173d721f42f7</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="textAndImage">Text and Image</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7d1242c7-a1d0-4176-b07e-1562c25c5abb</Key>
      <Caption>Text and Image</Caption>
      <Alias>textAndImage</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>