<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="46e87c0e-2b0c-4f77-be66-1f204642c2d0" Alias="quoteSettings" Level="4">
  <Info>
    <Name>Quote - Settings</Name>
    <Icon>icon-settings-alt color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocklist/Settings/Standalone+Blocks</Folder>
    <Compositions>
      <Composition Key="2f7eb90a-b46c-43c8-9f3d-f093bb1e4bcb">blockGeneralSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b58cd15f-b520-4781-ae5c-06a4ca2ba29b</Key>
      <Name>Icon Color</Name>
      <Alias>iconColor</Alias>
      <Definition>ed269ada-8a74-4521-bc82-98bad1f81fc9</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Color of the icon.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="quote">Quote</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>51465051-5f20-4821-817f-26652cc0ae0d</Key>
      <Name>Quote Color</Name>
      <Alias>mainColor</Alias>
      <Definition>ed269ada-8a74-4521-bc82-98bad1f81fc9</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Color of the quote.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="quote">Quote</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>24549c0c-9c21-473a-a073-b6df542c82ec</Key>
      <Name>Source Color</Name>
      <Alias>sourceColor</Alias>
      <Definition>ed269ada-8a74-4521-bc82-98bad1f81fc9</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Color of the quote source.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="quote">Quote</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>26b7b5a1-9793-4dd1-a363-36aeb48bebfc</Key>
      <Caption>Quote</Caption>
      <Alias>quote</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>