<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5f963776-7063-44ed-8714-08814ff35081" Alias="richTextBlock" Level="2">
  <Info>
    <Name>Text</Name>
    <Icon>icon-paste-in color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocklist</Folder>
    <Compositions>
      <Composition Key="1e4fe2ee-cb36-4b4c-a0ff-4c04f366a59e">blockNameDocType</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>74f67248-bcb2-4fc0-b46d-7aec401c13ec</Key>
      <Name>Text</Name>
      <Alias>rte</Alias>
      <Definition>d2141f51-a140-4329-bde7-173d721f42f7</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="text">Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c819b901-a1d9-42c0-bd1d-75075fb7e770</Key>
      <Caption>Text</Caption>
      <Alias>text</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>