<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="43f6d3c7-27b8-422e-a009-4ca11aface5c" Alias="rightColumn" Level="2">
  <Info>
    <Name>Right Column</Name>
    <Icon>icon-resize color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>3.+Molecules</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4b5164a9-25b3-495b-9596-d87ec38b2fb6</Key>
      <Name>Content</Name>
      <Alias>rightColumnContent</Alias>
      <Definition>166658a6-7e8a-4cfe-bbcd-36884ebb7242</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="rightColumn">Right Column</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a8a244f6-0bf8-4b8b-9cc9-42da0b6032e0</Key>
      <Caption>Right Column</Caption>
      <Alias>rightColumn</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>