<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="679654d0-80ea-4e4a-899f-dfab081823e4" Alias="search" Level="2">
  <Info>
    <Name>Search</Name>
    <Icon>icon-search color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>1.+Organisms</Folder>
    <Compositions>
      <Composition Key="cafcf212-d246-4a8b-b44e-b12d50c856e3">layout</Composition>
    </Compositions>
    <DefaultTemplate>Search</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5f120de0-b653-425b-99ce-374ee191b63e">Search</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>