<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b0eeef59-413c-4415-a92e-072bff99178d" Alias="selectedPagesBlock" Level="2">
  <Info>
    <Name>Selected Pages</Name>
    <Icon>icon-page-add color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Displays links for up to three pages.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocklist</Folder>
    <Compositions>
      <Composition Key="1e4fe2ee-cb36-4b4c-a0ff-4c04f366a59e">blockNameDocType</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d12b6f9b-ef62-4e1d-85a7-375bf29481ee</Key>
      <Name>Header</Name>
      <Alias>header</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="selectedPages">Selected Pages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4abd99ce-b5d0-4562-b0c3-ad7ec5932130</Key>
      <Name>Pages</Name>
      <Alias>pages</Alias>
      <Definition>0a93876b-b875-4841-9118-fa5ecd416210</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose up to three pages.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="selectedPages">Selected Pages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6a739c69-0f0b-4c0c-bd6e-fe6d2f15715f</Key>
      <Caption>Selected Pages</Caption>
      <Alias>selectedPages</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>