<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c1e852d9-3367-40e9-bbb7-09d9e424b22e" Alias="socialMediaBlock" Level="2">
  <Info>
    <Name>Social Media</Name>
    <Icon>icon-people-alt-2 color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Section to display social media links (configured on the root node) and an optional text.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocklist</Folder>
    <Compositions>
      <Composition Key="1e4fe2ee-cb36-4b4c-a0ff-4c04f366a59e">blockNameDocType</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9667f677-6128-40ca-bfd3-3be7cd2716b5</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>0146e50a-52ed-4da3-a00c-c9886cf1d2c3</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="socialMedia">Social Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2b323c3a-e48b-4002-bae8-3a658e2cddaa</Key>
      <Caption>Social Media</Caption>
      <Alias>socialMedia</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>