<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="380883cd-4acb-48bd-9bd8-38027f8bb89c" Alias="twoColBlockSettings" Level="4">
  <Info>
    <Name>Two Col Block - Settings</Name>
    <Icon>icon-settings-alt color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocklist/Settings/Standalone+Blocks</Folder>
    <Compositions>
      <Composition Key="2f7eb90a-b46c-43c8-9f3d-f093bb1e4bcb">blockGeneralSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f83717f6-c200-446d-abe2-4c519f72e01f</Key>
      <Name>Auto Align Text</Name>
      <Alias>autoAlignText</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enabling this will automatically align text in the block. Aligning in rich text editor will take precedence over this setting.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="columnSettings">Column Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a4941e7d-9150-4136-9d57-225695461234</Key>
      <Name>Column Distirbution</Name>
      <Alias>columnDistirbution</Alias>
      <Definition>cd6cffe4-a112-4e77-8526-5fc13ffcdea8</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Determines the width of the two columns. Defaults to 6 which means that both columns will have the same size on larger screens.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="columnSettings">Column Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>adcce936-01d5-4c59-9f04-3da4d73cc355</Key>
      <Name>Column Gap</Name>
      <Alias>columnGap</Alias>
      <Definition>be52c693-5a39-4236-9bf2-214448de2473</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Determines the gap between the columns. Defaults to Medium.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="columnSettings">Column Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>78cf79c8-ed0f-4a0f-8876-7ff1495d8382</Key>
      <Name>Disable Auto Centering</Name>
      <Alias>disableAutoCentering</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Positions the content at the top of the columns instead of the middle.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="columnSettings">Column Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>21f45bee-0d60-483a-ad69-eb9f59ac44ca</Key>
      <Name>Reverse On Mobile</Name>
      <Alias>reverseOnMobile</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If content in the two blocks should be shown in reverse order on smaller screens.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="columnSettings">Column Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>588daffe-ba09-4c25-81ac-0629b78b4611</Key>
      <Name>Reverse Rows</Name>
      <Alias>reverseRows</Alias>
      <Definition>c90811e6-0163-496f-a0f9-88900f0cb1e0</Definition>
      <Type>Umbraco.CheckBoxList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the row numbers where you want to swap the right and left column in the mobile view.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="rowSettings">Row Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9966ebc1-d922-469a-b454-36faf740d386</Key>
      <Name>Row Gap</Name>
      <Alias>rowGap</Alias>
      <Definition>be52c693-5a39-4236-9bf2-214448de2473</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Determines the gap between the rows. Defaults to Medium.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="rowSettings">Row Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2090ba87-dec9-439f-a58b-002a46843040</Key>
      <Caption>Column Settings</Caption>
      <Alias>columnSettings</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>e4672f23-534a-4be8-8b86-13a37e9ea1ac</Key>
      <Caption>Row Settings</Caption>
      <Alias>rowSettings</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>