<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c265aa43-fe7b-4710-88ea-5ef0ea64b9fb" Alias="yearlyNewsContainer" Level="2">
  <Info>
    <Name>Yearly News Container</Name>
    <Icon>icon-resize color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>3.+Molecules</Folder>
    <Compositions>
      <Composition Key="cafcf212-d246-4a8b-b44e-b12d50c856e3">layout</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="76254e2b-4795-43d3-9037-39d822cb75ff" SortOrder="0">monthlyNewsContainer</ContentType>
    <ContentType Key="9e2edc37-adfb-4d1b-b4d9-537a0bb5bd60" SortOrder="1">news</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>