<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="baf3c44e-2393-4087-a906-cf044a0ae264" Alias="youtubeBlock" Level="2">
  <Info>
    <Name>Youtube</Name>
    <Icon>icon-video color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>NOT IMPLEMENTED YET</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocklist</Folder>
    <Compositions>
      <Composition Key="1e4fe2ee-cb36-4b4c-a0ff-4c04f366a59e">blockNameDocType</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c43b3223-18ca-49f2-8ed2-41097aa027a5</Key>
      <Name>Url</Name>
      <Alias>youtubeUrl</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="youtube">Youtube</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2ad40fd2-70e4-4420-8ea6-41d5bb094448</Key>
      <Caption>Youtube</Caption>
      <Alias>youtube</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>